body{
    box-sizing: content-box;
}
.kotak{
    width: 200px;
    height: 200px;
    background-color: cornsilk;
    padding: 5px;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}